<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %logger{36} %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] - %msg%n"></PatternLayout> 
		</Console>
		
		<File name="Log" fileName="E:\AppsLog\rzr_zhibernate.log">
			<PatternLayout pattern="[%-5level] %logger{36} %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] - %msg%n"></PatternLayout>
		</File>
	</Appenders>
	
	<Loggers>
		<Root level ="debug">
			<AppenderRef ref="Console"></AppenderRef>
			<AppenderRef ref="Log"></AppenderRef>
		</Root>
	</Loggers>
</Configuration>